body { margin: 0; overflow: hidden; background: #121212; color: #eee; }
#hud { position: absolute; top: 0; left: 0; padding: 4px; font-family: sans-serif; color: inherit; }
#game { display: block; margin: auto; background: #333; }
